@inject IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Management</title>
    <!----css3---->
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/admin/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="~/css/admin/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/css/admin/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="~/css/admin/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/css/admin/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/css/admin/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/css/admin/custom.css" />



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index"><img class="logo_icon img-responsive" src="~/img/admin/logo.png" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" src="~/img/admin/logo-shobee.png" alt="#" /></div>
                            <div class="user_info">
                                @{
                                    var userName = Accessor.HttpContext.Session.GetString("UserName");
                                    <span class="header__navbar-user-name">@userName</span>
                                }
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index"><h4>General</h4></a>

                    <ul class="list-unstyled components">

                        <li class="active">
                        <li>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-gauge fa-flip" style="color: #f28202;"></i> <span>Dashboard</span></a>

                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                                <i class="fa-solid fa-list fa-beat" style="color: #f6ee04;"></i><span>Category</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Book" asp-action="Index">
                                <i class="fa-solid fa-book fa-bounce" style="color: #c2243b;"></i><span>Book</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Store" asp-action="Index">
                                <i class="fa-solid fa-store fa-shake" style="color: #14db2c;"></i><span>Store</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="Order" asp-action="Index">
                                <i class="fa-solid fa-cart-shopping fa-beat" style="color: #0561ff;"></i><span>Order</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="fa-regular fa-user fa-flip" style="color: #02f7cf;"></i><span>User</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Admin" asp-controller="UserRole" asp-action="Index">
                                <i class="fa-regular fa-user fa-flip" style="color: #02f7cf;"></i><span>UserRole</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="Customer" asp-controller="User" asp-action="Logout">
                                <i class="fa-solid fa-right-from-bracket fa-fade" style="color: #0ed840;"></i><span>Logout</span>
                            </a>
                        </li>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="right_topbar">
                                <div class="icon_info">
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <div class="container">
                    <main role="main" class="pb-3">
                        <partial name="_Notification" />
                        @RenderBody()
                    </main>
                </div>
                <!-- footer -->
                <div class="container-fluid">
                    <div class="footer">
                        <div class="text-center">
                            &copy; 2023 - Shopbee - Made by <a href="https://fb.com/">Group 2 <i class="bi bi-emoji-sunglasses"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end dashboard inner -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/js/admin/jquery.min.js"></script>
    <script src="~/js/admin/popper.min.js"></script>
    <script src="~/js/admin/bootstrap.min.js"></script> 
    <!-- wow animation -->
    <script src="~/js/admin/animate.js"></script>,
    <!-- select country -->
    <script src="~/js/admin/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="~/js/admin/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="~/js/admin/Chart.min.js"></script>
    <script src="~/js/admin/Chart.bundle.min.js"></script>
    <script src="~/js/admin/utils.js"></script>
    <script src="~/js/admin/analyser.js"></script>
        
    <!-- nice scrollbar -->
    <script src="~/js/admin/perfect-scrollbar.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/ypwamkar0k7empicnohfcfoeo34m3w4w7x05sxstrqa1jqdr/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js"></script>


    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <!-- custom js -->
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

            $('.more-button,.body-overlay').on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });

        });
    </script>
</body>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
</html>