@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shobee</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="~/css/customer/base.css">
    <link rel="stylesheet" href="~/css/customer/style.css">
    <link rel="stylesheet" href="~/css/customer/grid.css">
    <link rel="stylesheet" href="~/css/customer/responsive.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

   

</head>
<body>
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <!-- navbar -->
                <nav class="header__navbar hide-on-mobile-tablet">
                    <ul class="header__nav-list">
                        <li>
                            <a asp-area="Store" asp-controller="Home" asp-action="Index" class="header__nav-item header__nav-item--hover header__nav-item--separate">Store Chanel</a>
                        </li>
                        <li>
                            <a asp-area="Store" asp-controller="Home" asp-action="Index" class="header__nav-item header__nav-item--hover header__nav-item--separate">Become a Seller</a>
                        </li>

                        @{
                            var userRoles = Accessor.HttpContext.Session.GetString("UserRoles");
                            if (userRoles != null)
                            {
                                if (userRoles.Contains("ADMIN"))
                                {
                                    <li >
                                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="header__nav-item header__nav-item--hover header__nav-item--separate">Admin Panel</a>
                                    </li>
                                }
                            }
                          
                        }

                    </ul>
                    <ul class="header__nav-list">

                        <li class="header__nav-item">
                            <a href="#" class="header__nav-item-link">
                                <i class="header__nav-icon far fa-question-circle"></i>
                                Support
                            </a>
                        </li>
                        @{
                            var userId = Accessor.HttpContext.Session.GetString("UserId");
                            if (userId == null)
                            {
                                <li class="header__nav-item header__nav-item--bold header__nav-item--separate">
                                    <a asp-area="Customer" asp-controller="User" asp-action="Register" class="header__nav-item-link">Sign Up</a>
                                </li>
                                <li class="header__nav-item header__nav-item--bold header__nav-item--separate">
                                    <a asp-area="Customer" asp-controller="User" asp-action="Login" class="header__nav-item-link">Sign In</a>
                                </li>
                            }
                            else
                            {
                                var userAvt = Accessor.HttpContext.Session.GetString("UserAvt");
                                var userName = Accessor.HttpContext.Session.GetString("UserName");
                                <li class="header__nav-item header__nav-user">
                                    <img src="@userAvt" class="header__nav-user-avt">
                                    <a href="#" class="header__nav-item-link header__nav-item--bold">@userName</a>
                                    <ul class="header__nav-user-menu">
                                        <li class="header__nav-user-item">
                                            <a asp-area="Customer" asp-controller="Order" asp-action="Index">Order</a>
                                        </li>
                                        <li class="header__nav-user-item">
                                            <a asp-area="Customer" asp-controller="User" asp-action="EditProfile">My Account</a>
                                        </li>
                                        <li class="header__nav-user-item">
                                            <a asp-area="Customer" asp-controller="User" asp-action="ChangePassword">Change Password</a>
                                        </li>
                                       
                                    
                                    </ul>
                                    
                                </li>
                                <a asp-area="Customer" asp-controller="User" asp-action="Logout">  <i class='fas fa-sign-in-alt' style='font-size:24px; color: white'></i></a>
                              
                            }
                        }
                    </ul>
                </nav>
                <!-- search -->
                <div class="header__contain">
                    <label for="mobile-search" class="header__mobile-search">
                        <i class="header__mobile-search-icon fas fa-search"></i>
                    </label>
                    <div class="header__logo">
                      
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index"  class="header__logo-link">
                            <img src="~/img/customer/logo/logo-full-white.png" class="header__logo-img">
                        </a>
                    </div>
                    <input type="checkbox" id="mobile-search" class="header__search-check" hidden>
                 
                    
                    <div class="header__search">
                        <div class="header__search-input-wrap">
                            <form asp-area="Customer" asp-action="Index" asp-controller="Home">
                            <input name="searchString" type="text" class="header__search-input" placeholder="Search on Shoppee (Name, Author)">
                                
                            </form>
                        </div>
                       
                    </div>
                   
                    <!-- header__cart--no-cart --><!-- header__cart--has-cart -->
                    <div class="header__cart header__cart--has-cart">
                        <a asp-area="Customer" asp-controller="Cart" asp-action="Index">
                        <i  class="header__cart-icon fas fa-shopping-cart"></i>
                        @{
                            var cart = Accessor.HttpContext.Session.GetString("Cart");
                        }
                        <div class="header__cart-count">@cart</div>

                        </a>
                    </div>
                </div>
            </div>
            <ul class="header__sort-bar">
                <li class="header__sort-item">
                    <a href="#" class="header__sort-link">Liên quan</a>
                </li>
                <li class="header__sort-item header__sort-item--active">
                    <a href="#" class="header__sort-link">Mới nhất</a>
                </li>
                <li class="header__sort-item">
                    <a href="#" class="header__sort-link">Bán chạy</a>
                </li>
                <li class="header__sort-item">
                    <a href="#" class="header__sort-link">Giá</a>
                </li>
            </ul>
        </header>
        <main role="main">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>




    <footer class="footer">
        <!-- main footer -->
        <div class="main-footer">
            <div class="grid wide">
                <div class="row sm-gutter main-footer-info">
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">CUSTOMER SERVICE</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#" class="footer-item-link">Help Centre</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Blog</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Mall</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">How To Buy</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">How To Sell</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Payment</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Coin</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shipping</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Return & Refund</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Contact Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Warranty Policy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">ABOUT SHOPEE</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#" class="footer-item-link">About Us</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Careers</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Policies</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Mall</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Seller Centre</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Flash Sales</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Shopee Ambassador Programme</a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link">Liên Hệ Với Truyền Thông</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-4 c-12 pay-and-ship">
                        <div>
                            <h3 class="footer__heading">PAYMENT</h3>
                            <div class="footer-sale-ship">
                                <img src="~/img/customer/pay/1.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/pay/2.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/pay/3.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/pay/4.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/pay/5.PNG" class="footer-item-sale-ship">
                            </div>
                        </div>
                        <div>
                            <h3 class="footer__heading">LOGISTICS</h3>
                            <div class="footer-sale-ship">
                                <img src="~/img/customer/ship/1.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/2.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/3.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/4.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/5.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/6.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/7.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/8.PNG" class="footer-item-sale-ship">
                                <img src="~/img/customer/ship/9.PNG" class="footer-item-sale-ship">
                            </div>
                        </div>
                    </div>
                    <div class="col l-2-4 m-4 c-6">
                        <h3 class="footer__heading">FOLLOW US</h3>
                        <ul class="footer-list">
                            <li>
                                <a href="#" class="footer-item-link footer-item-link-fb">
                                    <i class="footer-item-icon fab fa-facebook-square"></i>
                                    Facebook
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link footer-item-link-is">
                                    <i class="footer-item-icon fab fa-instagram-square"></i>
                                    Instagram
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer-item-link footer-item-link-li">
                                    <i class="footer-item-icon fab fa-linkedin"></i>
                                    LinkedIn
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-8 c-6">
                        <h3 class="footer__heading">SHOPEE APP DOWNLOAD</h3>
                        <div class="footer-download">
                            <a href="#" class="footer-download-link">
                                <img src="~/img/customer/qr/qr-code.png" class="footer-download-qr">
                            </a>
                            <div class="footer-download-app">
                                <a href="#" class="footer-download-link">
                                    <img src="~/img/customer/qr/gg-play.png" class="footer-download-app-img">
                                </a>
                                <a href="#" class="footer-download-link">
                                    <img src="~/img/customer/qr/app-store.png" class="footer-download-app-img">
                                </a>
                                <a href="#" class="footer-download-link">
                                    <img src="~/img/customer/qr/app-gallery.png" class="footer-download-app-img">
                                </a>
                                <a href="#" class="footer-download-link">
                                    <img src="~/img/customer/qr/ltp-img.png" class="footer-download-app-img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- copyright -->
                <div class="row">
                    <div class="grid">
                        <p class="copyright-title">
                            © 2023 Shopee. All Rights Reserved .
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- other footer -->
        <div class="other-footer">
            <div class="grid wide">
                <div class="row other-footer-heading">
                    <div class="col l-2">
                        <a href="#" class="other-footer-link">
                            PRIVACY POLICY
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="#" class="other-footer-link">
                            TERM OF SERVICE
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="#" class="other-footer-link">
                            SHIPPING POLICY
                        </a>
                    </div>
                    <div class="col l-2">
                        <a href="#" class="other-footer-link">
                            VIOLATION
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="grid other-footer-info">
                        <p class="other-footer-title">Thông tin về Shoppee</p>
                        <p class="other-footer-more">
                            Địa chỉ: Tầng 4-5-6, Tòa nhà Capital Place, số 29 đường Liễu Giai,
                            Phường Ngọc Khánh, Quận Ba Đình, Thành phố Hà Nội, Việt Nam.
                            Tổng đài hỗ trợ: 19001221 - Email: cskh@hotro.shopee.vn
                        </p>
                        <p class="other-footer-more">
                            Chịu Trách Nhiệm Quản Lý Nội Dung: Nguyễn Đức Trí -
                            Điện thoại liên hệ: 024 73081221 (ext 4678)
                        </p>
                        <p class="other-footer-more">
                            Mã số doanh nghiệp: 0106773786 do Sở Kế hoạch & Đầu tư
                            TP Hà Nội cấp lần đầu ngày 10/02/2015
                        </p>
                        <p class="other-footer-more">
                            Ngày sản xuất 2015 -
                            Bản quyền gốc thuộc về Công ty TNHH Shopee
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>
