        .body_editprofile {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
            font-size: 16px;
        }



        .editprofile-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: center;

        }

        h2 {
            color: #ee4d2d; 
        }

        label {
            display: block;
            margin: 10px 0 5px;
            color: #555;
        }

        .avatar-container {
            position: relative;
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto 20px;
        }

        .avatar-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
        }

        .btn-image {
            border: 2px solid #ee4d2d; 
            color: #ee4d2d; 
            background-color: transparent; 
            padding: 8px 20px;
            border-radius: 8px;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }

        .upload-btn-wrapper input[type=file] {
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ddd; /* Màu đường viền xám nhạt */
            border-radius: 4px;
        }

        input[type="submit"] {
            background-color: #ee4d2d; /* Màu cam đậm giống Shopee */
            color: #fff; /* Màu chữ trắng */
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #ff6938; /* Màu cam đậm sáng hơn khi hover */
        }