
<link rel="stylesheet" href="~/css/customer/changepassword.css">
<partial name="_Notification" />
<div class="body_changepassword">
    <form class="changepassword-form" action="#" method="post" id="changePasswordForm">
        <h2>Đổi Mật Khẩu</h2>

        <label for="currentPassword">Current Password:</label>
        <input type="password" name="currentPassword" required>

        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" required>

        <label for="confirmNewPassword">Confim New Password:</label>
        <input type="password" name="confirmNewPassword" required>

        <input type="submit" value="Change Password">
    </form>
</div>

   

