
<link rel="stylesheet" href="~/css/customer/changepassword.css">
<partial name="_Notification" />
<div class="body_changepassword">
    <form action="#" method="post" id="changePasswordForm">
        <h2>Đổi Mật Khẩu</h2>

        <label for="currentPassword">Mật khẩu hiện tại:</label>
        <input type="password" name="currentPassword" required>

        <label for="newPassword">Mật khẩu mới:</label>
        <input type="password" name="newPassword" required>

        <label for="confirmNewPassword">Xác nhận mật khẩu mới:</label>
        <input type="password" name="confirmNewPassword" required>

        <input type="submit" value="Đổi mật khẩu">
    </form>
</div>

   

