@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/homepage_product.js"></script>
<div class="container">
    <div class="grid wide">
        <div class="row sm-gutter">
            <div class="col l-2 m-0 c-0">
                <!-- category -->
                <nav class="category">
                    <h3 class="category-heading">
                        <i class="category-heading-icon fas fa-list-ul"></i>
                        CATEGORY
                    </h3>
                    <div class="category-group">
                       
                        <ul class="category-group-list">
                            <li class="category-group-item">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="category-group-title">
                                    <i class="fa-solid fa-minus"></i>
                                    Thiết bị mạng 
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </li>
                            <li class="category-group-item">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="category-group-title">
                                    <i class="fa-solid fa-minus"></i>
                                    Thiết bị mạng
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </li>
                            <li class="category-group-item">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="category-group-title">
                                    <i class="fa-solid fa-minus"></i>
                                    Thiết bị mạng
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </li>
                            <li class="category-group-item">
                                <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="category-group-title">
                                    <i class="fa-solid fa-minus"></i>
                                    Thiết bị mạng
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
            <div class="col l-10 m-12 c-12">
                <!-- home filter -->
                <div class="home-filter hide-on-mobile-tablet">
                    <div class="home-filter-control">
                        <p class="home-filter-title">Sắp xếp theo</p>
                        <button class="btn btn--primary home-filter-btn">Phổ biến</button>
                        <button class="btn home-filter-btn">Mới nhất</button>
                        <button class="btn home-filter-btn">Bán chạy</button>
                        <div class="btn home-filter-sort">
                            <p class="home-filter-sort-btn">Giá</p>
                            <i class="fas fa-sort-amount-down-alt"></i>
                            <ul class="home-filter-sort-list">
                                <li>
                                    <a href="#" class="home-filter-sort-item-link">
                                        Giảm dần
                                        <i class="fas fa-sort-amount-down-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="home-filter-sort-item-link">
                                        Tăng dần
                                        <i class="fas fa-sort-amount-up-alt"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="home-filter-page">
                        <div class="home-filter-page-number">
                            <p class="home-filter-page-now">1</p>
                            /14
                        </div>
                        <div class="home-filter-page-control">
                            <a href="#" class="home-filter-page-btn home-filter-page-btn--disable">
                                <i class="fas fa-angle-left"></i>
                            </a>
                            <a href="#" class="home-filter-page-btn">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- home product -->
                <div class="home-product">
                    <nav class="mobile-category">
                        <ul class="mobile-category-list">
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Thiết bị mạng</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Chuột và bàn phím</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">USB</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Link kiện máy tính</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Wifi</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Ổ cứng</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">CD/DVD</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Tai nghe</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Lót chuột</a>
                            </li>
                            <li class="mobile-category-item">
                                <a href="#" class="mobile-category-item-link">Micro</a>
                            </li>
                        </ul>
                    </nav>
                    <div id="list-product" class="row sm-gutter"></div>

                </div>
                <!-- pagination -->
                <ul class="pagination home-product-pagination">
                    <li class="pagination-item">
                        <a href="#" class="pagination-item-link pagination-item-link--disable">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a href="#" class="pagination-item-link">1</a>
                    </li>
                    <li class="pagination-item">
                        <a href="#" class="pagination-item-link">2</a>
                    </li>
                    <li class="pagination-item">
                        <a href="#" class="pagination-item-link">3</a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item-link pagination-item-link--disable">. . .</a>
                    </li>
                    <li class="pagination-item">
                        <a href="#" class="pagination-item-link">8</a>
                    </li>
                    <li class="pagination-item">
                        <a href="#" class="pagination-item-link">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

