<link rel="stylesheet" href="~/css/customer/changepassword.css">
<partial name="_Notification" />
<div class="body_changepassword">
    <form method="post">
        <h2>Become A Seller</h2>

        <label for="currentPassword">Store Name:</label>
        <input type="text" name="storeName" required>


        <input type="submit" value="Create">
    </form>
</div>



