@model StoreVM
<form method="POST">
    <div class="boder p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Store</h2>
            <hr/>
        </div>
        <div class="p-0" asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Store.Name" class="p-0"></label>
            <input asp-for="Store.Name" class="form-control" />
            <span asp-validation-for="Store.Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Store.User"></label>
            <select asp-for="@Model.Store.UserId" asp-items="@Model.MyUsers" class="form-select form-control "></select>

        </div>
        <div class="row">
            <button type="submit" class="btn btn-outline-primary form-control" style="width:150px">Create</button>
            <div class ="col-6 col-md-3">
                <a asp-controller="Store" asp-action="Index" type="submit" class="btn btn-outline-secondary form-control" style="width:150px">Go Back</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}