<br />
<div class="card col-auto">
	<div class="card-header align-items-center d-flex justify-content-between">
		<h5 class="mb-0 align-self-center"><i class="material-icons mr-2">show_chart</i> Orders within Last 30 Days</h5>
	</div>

    <div class="card-body">
        <canvas id="orderChart" ></canvas>
    </div>
</div>
<div id="result">
	<div class="row row-cols-2 row-cols-lg-4 gutters-sm">
		<div class="col mb-3" >
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center mb-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart mr-2"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>
						<h3 class="mb-0 mr-2">Orders (30 days): @ViewBag.TotalOrders</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="col mb-3">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center mb-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag mr-2"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
						<h3 class="mb-0 mr-2">You Got (30 days): @ViewBag.TotalEarnings30days $</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
    <script src="~/js/vendor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
		var data = @Html.Raw(Json.Serialize(ViewBag.Data));
		var labels = @Html.Raw(Json.Serialize(ViewBag.Days));
        
        var ctx = document.getElementById('orderChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Order',
                    data: data,
                    borderColor: 'blue',
                    backgroundColor: 'transparent',
                    borderWidth: 2,
					lineTension: 0.4, 
					pointRadius: 3, 
					pointBackgroundColor: 'blue', 
					pointBorderColor: 'green',
					pointHoverRadius: 6, 
					pointHoverBackgroundColor: 'blue',
					pointHoverBorderColor: 'green'
				}]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
	<script type="text/javascript">
		$(() => {
			// Month Picker
			flatpickr('.monthpicker', {
				plugins: [
					new monthSelectPlugin({
						shorthand: true,
						dateFormat: 'm/Y',
						altFormat: 'm/Y',
					})
				]
			})
		})
	</script>
}