@model Category
<form method="POST">
    <div class="boder p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Category</h2>
            <hr/>
        </div>
        <div class="p-0" asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Status" class="p-0"></label>
            <select asp-for="Status" class="form-control">
                <option value="1">Active</option>
                <option value="0">Pending</option>
            </select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-outline-primary form-control" style="width:150px">Create</button>
            <div class ="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" type="submit" class="btn btn-outline-secondary form-control" style="width:150px">Go Back</a>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}