

<div class="row column2 graph margin_bottom_30">
    <div class="col-md-l2 col-lg-12">
        <div class="white_shd full">
            <div class="full graph_head">
                <div class="heading1 margin_0">
                    <h2>Extra Area Chart</h2>
                </div>
            </div>
            <div class="full graph_revenue">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content">
                            <div class="area_chart">
                                <canvas height="120" id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner section -->
<div class="main-content">

    <div class="midde_cont">
        <div class="container-fluid">
            <div class="row column_title">
                <div class="col-md-12">
                    <div class="page_title">
                        <h2>Chart</h2>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row column1">
                <div class="col-lg-6">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Line Chart</h2>
                            </div>
                        </div>
                        <div class="map_section padding_infor_info">
                            <canvas id="line_chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Line Chart</h2>
                            </div>
                        </div>
                        <div class="map_section padding_infor_info">
                            <canvas id="bar_chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Radar Chart</h2>
                            </div>
                        </div>
                        <div class="map_section padding_infor_info">
                            <canvas id="radar_chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="white_shd full margin_bottom_30">
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Pie Chart</h2>
                            </div>
                        </div>
                        <div class="map_section padding_infor_info">
                            <canvas id="pie_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>

    </div>


</div>
