@{
    ViewData["Title"] = "User Management";
}
@model List<User>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Category Managment</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" asp-controller="User" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New User
                </a>
            </div>
        </div>
        <table id="tblDataUser" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email </th>
                    <th>Password </th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/user.js"></script>
}