<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>Admin Management</title>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <!----css3---->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet" />
    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    
</head>
<body>
    <div class="wrapper">
        <div class="body-overlay"></div>
        <div class="wrapper">
        <!--Left Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3><img src="~/img/logo.png" class="img-fluid" /><span>ShopBee</span></h3>
                </div>
                <ul class="list-unstyled components">
                    <li class="active">
                        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="dashboard"><i class="material-icons">dashboard</i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <i class="material-icons">aspect_ratio </i><span >Category</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Book" asp-action="Index">
                            <i class="material-icons">aspect_ratio </i><span>Book</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Store" asp-action="Index">
                            <i class="material-icons">aspect_ratio </i><span>Store</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Order" asp-action="Index">
                            <i class="material-icons">aspect_ratio </i><span>Order</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="User" asp-action="Index">
                            <i class="material-icons">aspect_ratio </i><span>User</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#"><i class="material-icons">date_range</i><span>copy</span></a>
                    </li>

                    <li class="">
                        <a href="#"><i class="material-icons">library_books</i><span>Calender</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div id="content">
        <div class="top-navbar">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="d-xl-block d-lg-block d-md-mone d-none">
                        <span class="material-icons">arrow_back_ios</span>
                    </button>

                    <a class="navbar-brand" href="#"> Dashboard </a>

                    <button class="d-inline-block d-lg-none ml-auto more-button" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="material-icons">more_vert</span>
                    </button>

                    <div class="collapse navbar-collapse d-lg-block d-xl-block d-sm-none d-md-none d-none" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="dropdown nav-item active">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <span class="material-icons">notifications</span>
                                    <span class="notification">test</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">Nothing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="material-icons">apps</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="material-icons">person</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <span class="material-icons">settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
        </div>
    <script src="https://cdn.tiny.cloud/1/ypwamkar0k7empicnohfcfoeo34m3w4w7x05sxstrqa1jqdr/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });

            $('.more-button,.body-overlay').on('click', function () {
                $('#sidebar,.body-overlay').toggleClass('show-nav');
            });

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    <footer class="">
        <div class="text-center">
            &copy; 2023 - Shopbee - Made by <a href="https://fb.com/">Group 2 <i class="bi bi-emoji-sunglasses"></i></a>
        </div>
    </footer>
</body>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    
}
</html>