﻿@{
    ViewData["Title"] = "Feedback Management";
}
@model List<Book>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">Feedback Managment</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-5">
        <table id="tblDataFeedbackStoreOwner" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Content</th>
                    <th>Rating</th>
                    <th>Response</th>
                    <th>Date Feedback</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/table.js"></script>
}