@model UserVM

<form method="POST" enctype="multipart/form-data">
    <div class="boder p-3 mt-4" style="padding-bottom:100px">
        <div class="row pb-2">
            <h1> Create a User Role</h1>
        </div>
        <div class="p-0" asp-validation-summary="All"></div>
        <div class="mb-3 row p-1">
            <label asp-for="@Model.MyUsers" class="p-0">Email</label>
            <input name="email_temp" class="form-control" />
        </div> 
        <div class="row mb-3">
            <label asp-for="UserRole.RoleId"></label>
            <select asp-for="@Model.UserRole.RoleId" asp-items="@Model.MyRoles" class=" form-select form-control"></select>

        </div>
        <div class="btn group" role="group">
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-controller="UserRole" asp-action="Index" class="btn btn-primary">
                Back to List
            </a>
        </div>
    </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}