@{
    ViewData["Title"] = "User Role Management";
}
@model List<User>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2">User Role Managment</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
        </div>
        <table id="tblDataUserAdmin" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Role Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/table.js"></script>
}